@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


@media screen and (min-width: 992px) {

/****************************************************************************************************************
================================================================================================================
    MENU
================================================================================================================
****************************************************************************************************************/


.menu .row .col-4 {
    flex: 0 1 calc(33% - 1rem);
}
 

/****************************************************************************************************************
================================================================================================================
    expert
================================================================================================================
****************************************************************************************************************/

.experts .row .col-3 {
    flex: 0 1 calc(25% - 1rem);
}


/****************************************************************************************************************
================================================================================================================
    testimonials
================================================================================================================
****************************************************************************************************************/

.testimonials .row .col-4 {
    flex: 0 1 calc(30%);
    margin-right: 1rem;
}

}