@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}
body{
   
}
p {
    font-weight: 300;
    color: #111;
    text-align: justify;
}
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 3rem 0 1rem;
    margin: auto;
}
section.about,
section.menu,
section.experts,
section.testimonials,
section.contact {
    max-width: 94%;
}


.title {
    color: #111;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.title span {
    color: #E92593;
    font-weight: 900;
    font-size: 3rem;
}
.text {
    font-size: 1.2rem;
    padding: 1rem 0;
}
.row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-6 {
    flex: 0 1 calc(50% - 1rem);
}

.col-4 {
    flex: 0 1 calc(33% - 1rem);
}
.col-3 {
    flex: 0 1 calc(25% - 1rem);
}
.centered {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centered p {
    text-align: center;
}

/****************************************************************************************************************
================================================================================================================
    BANNER
================================================================================================================
****************************************************************************************************************/

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/banner.jpg);
    background-size: cover;
    z-index: 1;
}
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.5);
    z-index: -1000;
}

.banner .content {
    max-width: 900px;
    text-align: center;
    color: white;
}

.banner .content h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.banner .content p {
    font-size: 1.2rem;
    color: white;
    max-width: 90%;
    margin: auto;
}

.btn {
    font-size: 1rem;
    color: white;
    background: #E92593;
    display: inline-block;
    padding: .8rem 2rem;
    margin-top: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

.container {
    max-width: 1200px;
    margin: auto;
}
/****************************************************************************************************************
================================================================================================================
    HEADER
================================================================================================================
****************************************************************************************************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem 1.2rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
}
header.sticky {
    background: white;
    padding: .8rem 1.2rem;
    box-shadow: 0 5px 20px rgba(17, 17, 17, 0.5);
}

header .logo {
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
}
header.sticky .logo {
    color: #111;
}
 
header .logo span {
    color: #E92593;
}

header .navigation {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.icon-menu {
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-top: 1rem;
}

.icon-menu .menu-burger span{
    width: 100%;
    margin-bottom: .3rem;
    display: block;
    height: 6px;
    background: #E92593;
}
.icon-menu .menu-close {
    display: none;
}
.icon-menu .menu-close span{
    width: 80%;
    display: block;
    margin-bottom: .3rem;
    height: 6px;
    background: #E92593;
    position: relative;
    z-index: 100;
}
.icon-menu .menu-close span:nth-child(1){
    transform: rotate(238deg) translateX(-7px); 
}
.icon-menu .menu-close span:nth-child(2){
    transform: rotate(122deg) translateX(-7px);
}

header .navigation li {
    list-style: none;
    margin-left: 1rem;
}
header .navigation li a {
    color: #111;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1rem;
    display: block;
}
header .navigation li a:hover {
    color: #E92593;
}

/****************************************************************************************************************
================================================================================================================
    ABOUT
================================================================================================================
****************************************************************************************************************/
.img-about {
    position: relative;
    width: 100%;
    min-height: 100%;
}
.img-about img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/****************************************************************************************************************
================================================================================================================
    MENU
================================================================================================================
****************************************************************************************************************/
.menu > p {
    text-align: center;
}
.menu .row {
    position: static;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}
.card { 
    margin-bottom: 1.5rem;
    border: 15px solid white;
    box-shadow: 0 5px 35px rgba(17, 17, 17, 0.5);
    background: white;
}
.card-img { 
    position: relative;
    width: 100%;
    height: 300px;
}  
.card-img img{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-text { 
    padding: 15px 0 15px;
} 
.card-text h3{ 
    font-weight: 600;
    color: #111;
} 

/****************************************************************************************************************
================================================================================================================
    expert
================================================================================================================
****************************************************************************************************************/
.experts .row {
    position: static;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

.experts h3 {
    text-align: center;
}

/****************************************************************************************************************
================================================================================================================
    testimonials
================================================================================================================
****************************************************************************************************************/
.testimonials {
    background: url(../images/bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.testimonials::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, .4);
    z-index: -1001;
}

.testimonials .row .col-4 {
    margin: 1rem;
}

.testimonials .centered h2, .testimonials .centered p  {
    color: white;
}
.testimonials .card {
    text-align: center;
}
.testimonials .card .card-img {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    margin: auto;
    display: block;
    overflow: hidden;
}
.testimonials .card-text p {
    color: #666;
    font-style: italic;
    padding: 1rem;
}
.testimonials .card-text h3 { 
    color: #E92593;
    font-size: 1.2rem;
}
/****************************************************************************************************************
================================================================================================================
    contact
================================================================================================================
****************************************************************************************************************/
.contact .row {
    flex-wrap: wrap;
    margin-top: 2.5rem;
    justify-content: center;
}
.contact .row .col-6 {
    flex: 1;
}
.contact-form {
    padding: 0 50px 75px;
    background: white;
    box-shadow: 0 15px 50px rgba(17, 17, 17, 0.1);
    width: 100%;
}

.contact-form h3 {
    color: #666;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 900;
    font-size: 2rem;
    padding: 1rem 0;
}
.contact-form .field {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}
.contact-form .field input,
.contact-form .field textarea {
    width: 100%;
    padding: .8rem;
    border: 1px solid #666;
    color: #111;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    resize: none;
}
.contact .btn {
    color: white !important;
    border: none !important;
    cursor: pointer;
    max-width: 100px;
}
.contact .btn:hover {
    letter-spacing: 2px;
}
.contact-img { 
    display: none;
} 

/****************************************************************************************************************
================================================================================================================
    FOOTER
================================================================================================================*/
.copyright {
    padding: 2rem 2.5rem;
    border-top: 1px solid rgba(17, 17, 17, 0.1);
    text-align: center;
    color: #666;
}