@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


@media screen and (min-width: 768px) {



section {
    padding: 5rem 0 !important;
}


/****************************************************************************************************************
================================================================================================================
    BANNER
================================================================================================================
****************************************************************************************************************/
/* 
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/banner.jpg);
    background-size: cover;
    z-index: 1;
}
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.5);
    z-index: -1000;
}

.banner .content {
    max-width: 900px;
    text-align: center;
    color: white;
}

.banner .content h2 {
    font-size: 5rem !important;
}

.banner .content p {
    font-size: 1.2rem;
    color: white;
}

.btn {
    font-size: 1rem;
    color: white;
    background: #E92593;
    display: inline-block;
    padding: .8rem 2rem;
    margin-top: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
} */

/****************************************************************************************************************
================================================================================================================
    HEADER
================================================================================================================
****************************************************************************************************************/
header {
    padding: 1rem  4rem;
}
header.sticky {
    background: white;
    padding: .8rem 6.25rem;
    box-shadow: 0 5px 20px rgba(17, 17, 17, 0.5);
}

header .logo {
    font-size: 1.5rem;
}
 
header .navigation {
    position: static;
    top: 0;
    left: 0 !important;
    width: auto;
    height: 0;
    background: none;
    flex-direction: row;
    transition: all .5s;
}
.icon-menu {
    display: none;
}

header .navigation li {
    list-style: none;
    margin-left: .5rem;
}
header .navigation li a {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.5rem;
    display: inline;
}
header .navigation li a:hover {
    color: #E92593;
}
header.sticky .navigation li a {
    color: #111;
}
header.sticky .navigation li a:hover {
    color: #E92593;
}
/****************************************************************************************************************
================================================================================================================
    ABOUT
================================================================================================================
****************************************************************************************************************/
.about .row  {
    flex-direction: row;
}
.img-about {
    position: relative;
    width: 100%;
    min-height: 100%;
}
.img-about img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/****************************************************************************************************************
================================================================================================================
    MENU
================================================================================================================
****************************************************************************************************************/

.menu .row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}
.menu .row .col-4 {
    flex: 0 1 calc(50% - 1rem);
}
.card { 
    margin-bottom: 1.5rem;
    border: 15px solid white;
    box-shadow: 0 5px 35px rgba(17, 17, 17, 0.5);
    background: white;
}
.card-img { 
    position: relative;
    width: 100%;
    height: 300px;
}  
.card-img img{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-text { 
    padding: 15px 0 15px;
} 
.card-text h3{ 
    font-weight: 600;
    color: #111;
} 

/****************************************************************************************************************
================================================================================================================
    expert
================================================================================================================
****************************************************************************************************************/
.experts .row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}
.experts .row .col-3 {
    flex: 0 1 calc(50% - 1rem);
}

.experts h3 {
    text-align: center;
}

/****************************************************************************************************************
================================================================================================================
    testimonials
================================================================================================================
****************************************************************************************************************/
.testimonials {
    background: url(../images/bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.testimonials::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, .4);
    z-index: -1001;
}

.testimonials .row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    justify-content: center;
}
.testimonials .row .col-4 {
    flex: 0 1 calc(45%);
    margin-right: 1rem;
}

.testimonials .centered h2, .testimonials .centered p  {
    color: white;
}
.testimonials .card {
    text-align: center;
}
.testimonials .card .card-img {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    margin: auto;
    display: block;
    overflow: hidden;
}
.testimonials .card-text p {
    color: #666;
    font-style: italic;
    padding: 1rem;
}
.testimonials .card-text h3 { 
    color: #E92593;
    font-size: 1.2rem;
}
/****************************************************************************************************************
================================================================================================================
    contact
================================================================================================================
****************************************************************************************************************/
.contact .row {
    flex-wrap: wrap;
    margin-top: 2.5rem;
    justify-content: center;
    flex-direction: row;
}
.contact .row .col-6 {
    flex: 0 1 calc(50% - 1rem);
}

.contact-form {
    padding: 0 50px 75px;
    background: white;
    box-shadow: 0 15px 50px rgba(17, 17, 17, 0.1);
    max-width: 500px;
}

.contact-form h3 {
    color: #666;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 900;
    font-size: 2rem;
    padding: 1rem 0;
}
.contact-form .field {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}
.contact-form .field input,
.contact-form .field textarea {
    width: 100%;
    padding: .8rem;
    border: 1px solid #666;
    color: #111;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    resize: none;
}
.contact .btn {
    color: white !important;
    border: none !important;
    cursor: pointer;
    max-width: 100px;
}
.contact .btn:hover {
    letter-spacing: 2px;
}
.contact-img { 
    display: block !important;
    position: relative;
    width: 100%;
    height: 500px;
} 
.contact-img img{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/****************************************************************************************************************
================================================================================================================
    FOOTER
================================================================================================================*/
.copyright {
    padding: 2rem 2.5rem;
    border-top: 1px solid rgba(17, 17, 17, 0.1);
    text-align: center;
    color: #666;
}

}